In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
ratings_df = pd.read_csv('./ml-latest-small/ratings.csv')
movies_df = pd.read_csv('./ml-latest-small/movies.csv')

In [3]:
ratings_df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [4]:
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [5]:
ratings_df.drop(columns='timestamp', inplace=True)

In [6]:
user_movie_df = pd.pivot(data=ratings_df, index='userId', columns='movieId', values='rating').transpose()
user_movie_df

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,NaN,NaN,4.0,NaN,4.5,NaN,NaN,NaN,...,4.0,NaN,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,NaN,NaN,NaN,NaN,NaN,4.0,NaN,4.0,NaN,NaN,...,NaN,4.0,NaN,5.0,3.5,NaN,NaN,2.0,NaN,NaN
3,4.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
user_movie_df.fillna(value=3.0, inplace=True)

In [8]:
user_movie_df

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,3.0,3.0,3.0,4.0,3.0,4.5,3.0,3.0,3.0,...,4.0,3.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,3.0,3.0,3.0,3.0,3.0,4.0,3.0,4.0,3.0,3.0,...,3.0,4.0,3.0,5.0,3.5,3.0,3.0,2.0,3.0,3.0
3,4.0,3.0,3.0,3.0,3.0,5.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,2.0,3.0,3.0
4,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
5,3.0,3.0,3.0,3.0,3.0,5.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
193583,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
193585,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
193587,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
193609,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0

In [9]:
from sklearn.metrics.pairwise import cosine_similarity
user_user_df = cosine_similarity(user_movie_df.T)
user_user_df = pd.DataFrame(user_user_df)
user_user_df

,0,1,2,3,4,5,6,7,8,9,...,600,601,602,603,604,605,606,607,608,609
0,1.000000,0.996608,0.995726,0.994895,0.996665,0.995448,0.995658,0.996660,0.996534,0.995531,...,0.995870,0.996333,0.989420,0.996422,0.996069,0.992103,0.995908,0.991936,0.996809,0.990090
1,0.996608,1.000000,0.998730,0.997247,0.999406,0.998072,0.998153,0.999412,0.999314,0.998596,...,0.998650,0.998901,0.991696,0.999304,0.998854,0.994329,0.998126,0.994298,0.999691,0.992068
2,0.995726,0.998730,1.000000,0.996465,0.998583,0.997263,0.997420,0.998589,0.998548,0.997829,...,0.997636,0.998080,0.990962,0.998540,0.998090,0.993330,0.997311,0.993388,0.998924,0.991159
3,0.994895,0.997247,0.996465,1.000000,0.997248,0.995914,0.996226,0.997185,0.997101,0.996475,...,0.996266,0.996911,0.990415,0.997087,0.996819,0.992715,0.996093,0.991914,0.997477,0.989942
4,0.996665,0.999406,0.998583,0.997248,1.000000,0.998141,0.998140,0.999447,0.999225,0.998470,...,0.998470,0.999016,0.991730,0.999271,0.998781,0.994381,0.998138,0.994138,0.999658,0.991814
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,0.992103,0.994329,0.993330,0.992715,0.994381,0.992934,0.993425,0.994348,0.994280,0.993256,...,0.994162,0.993891,0.988501,0.994252,0.993897,1.000000,0.993243,0.990147,0.994535,0.988312
606,0.995908,0.998126,0.997311,0.996093,0.998138,0.997069,0.997144,0.998235,0.997947,0.997110,...,0.997389,0.997834,0.990830,0.998045,0.997556,0.993243,1.000000,0.993320,0.998369,0.991126
607,0.991936,0.994298,0.993388,0.991914,0.994138,0.992725,0.993303,0.994330,0.994184,0.993151,...,0.993886,0.993876,0.986990,0.994007,0.993624,0.990147,0.993320,1.000000,0.994480,0.988672
608,0.996809,0.999691,0.998924,0.997477,0.999658,0.998326,0.998402,0.999675,0.999509,0.998772,...,0.998700,0.999165,0.991921,0.999545,0.999038,0.994535,0.998369,0.994480,1.000000,0.992048
609,0.990090,0.992068,0.991159,0.989942,0.991814,0.990496,0.991160,0.991908,0.991909,0.990914,...,0.992238,0.991579,0.985463,0.991743,0.991574,0.988312,0.991126,0.988672,0.992048,1.000000

In [10]:
n_movies , n_users = user_movie_df.shape
n_movies, n_users

(9724, 610)

In [11]:
user_movie_df[n_users+1] = 3.0
user_movie_df

userId,1,2,3,4,5,6,7,8,9,10,...,602,603,604,605,606,607,608,609,610,611
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,3.0,3.0,3.0,4.0,3.0,4.5,3.0,3.0,3.0,...,3.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0,3.0
2,3.0,3.0,3.0,3.0,3.0,4.0,3.0,4.0,3.0,3.0,...,4.0,3.0,5.0,3.5,3.0,3.0,2.0,3.0,3.0,3.0
3,4.0,3.0,3.0,3.0,3.0,5.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,2.0,3.0,3.0,3.0
4,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
5,3.0,3.0,3.0,3.0,3.0,5.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
193583,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
193585,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
193587,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
193609,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0

In [12]:

def vote(location, movie_list, rating_list):
    n = 0
    for k in movie_list:
        location[k] = rating_list[n]
        n += 1

In [13]:
new_user_movie_df = user_movie_df.copy()

In [14]:
vote(new_user_movie_df[n_users],[1,3,5],[2,4,4.5])

In [15]:
#user_movie_df = user_movie_df.join(z_df)
new_user_movie_df

userId,1,2,3,4,5,6,7,8,9,10,...,602,603,604,605,606,607,608,609,610,611
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,3.0,3.0,3.0,4.0,3.0,4.5,3.0,3.0,3.0,...,3.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,2.0,3.0
2,3.0,3.0,3.0,3.0,3.0,4.0,3.0,4.0,3.0,3.0,...,4.0,3.0,5.0,3.5,3.0,3.0,2.0,3.0,3.0,3.0
3,4.0,3.0,3.0,3.0,3.0,5.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,2.0,3.0,4.0,3.0
4,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
5,3.0,3.0,3.0,3.0,3.0,5.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,4.5,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
193583,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
193585,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
193587,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
193609,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0

In [16]:
new_user_user_df = cosine_similarity(new_user_movie_df.T)
new_user_user_df = pd.DataFrame(new_user_user_df)
new_user_user_df

,0,1,2,3,4,5,6,7,8,9,...,601,602,603,604,605,606,607,608,609,610
0,1.000000,0.996608,0.995726,0.994895,0.996665,0.995448,0.995658,0.996660,0.996534,0.995531,...,0.996333,0.989420,0.996422,0.996069,0.992103,0.995908,0.991936,0.996809,0.990066,0.996825
1,0.996608,1.000000,0.998730,0.997247,0.999406,0.998072,0.998153,0.999412,0.999314,0.998596,...,0.998901,0.991696,0.999304,0.998854,0.994329,0.998126,0.994298,0.999691,0.992066,0.999748
2,0.995726,0.998730,1.000000,0.996465,0.998583,0.997263,0.997420,0.998589,0.998548,0.997829,...,0.998080,0.990962,0.998540,0.998090,0.993330,0.997311,0.993388,0.998924,0.991157,0.998980
3,0.994895,0.997247,0.996465,1.000000,0.997248,0.995914,0.996226,0.997185,0.997101,0.996475,...,0.996911,0.990415,0.997087,0.996819,0.992715,0.996093,0.991914,0.997477,0.989940,0.997536
4,0.996665,0.999406,0.998583,0.997248,1.000000,0.998141,0.998140,0.999447,0.999225,0.998470,...,0.999016,0.991730,0.999271,0.998781,0.994381,0.998138,0.994138,0.999658,0.991779,0.999658
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.995908,0.998126,0.997311,0.996093,0.998138,0.997069,0.997144,0.998235,0.997947,0.997110,...,0.997834,0.990830,0.998045,0.997556,0.993243,1.000000,0.993320,0.998369,0.991092,0.998382
607,0.991936,0.994298,0.993388,0.991914,0.994138,0.992725,0.993303,0.994330,0.994184,0.993151,...,0.993876,0.986990,0.994007,0.993624,0.990147,0.993320,1.000000,0.994480,0.988675,0.994487
608,0.996809,0.999691,0.998924,0.997477,0.999658,0.998326,0.998402,0.999675,0.999509,0.998772,...,0.999165,0.991921,0.999545,0.999038,0.994535,0.998369,0.994480,1.000000,0.992046,0.999943
609,0.990066,0.992066,0.991157,0.989940,0.991779,0.990549,0.991108,0.991906,0.991907,0.990912,...,0.991577,0.985429,0.991741,0.991539,0.988326,0.991092,0.988675,0.992046,1.000000,0.992075
610,0.996825,0.999748,0.998980,0.997536,0.999658,0.998305,0.998437,0.999664,0.999567,0.998846,...,0.999155,0.991950,0.999557,0.999107,0.994550,0.998382,0.994487,0.999943,0.992075,1.000000

In [17]:
new_user_user_df[n_users].sort_values(ascending=False)[1:]

53     0.999971
213    0.999971
25     0.999949
608    0.999943
162    0.999943
         ...
379    0.991426
473    0.990858
598    0.988749
447    0.988488
413    0.986198
Name: 610, Length: 610, dtype: float64

In [18]:
similar_users = new_user_user_df[n_users].sort_values(ascending=False)[1:6].index

In [19]:
similar_users

Int64Index([53, 213, 25, 608, 162], dtype='int64')

In [20]:
def suggest(u_m, u_u, user):
    suggestions_5 = []
    user_list = u_u[user].sort_values(ascending=False).index[1:]
    for k in user_list:
        suggestions_5.append(u_m[k][u_m[k]==5])
        if(len(suggestions_5)==3):
            break
        
    return suggestions_5

In [21]:
a,b,c = suggest(new_user_movie_df, new_user_user_df, n_users)
a.index[0], b.index[0], c.index[0]
#if 1 or 3 or 5 skip to next item

(203, 589, 260)

In [22]:
[
    [movies_df.title[movies_df.index == 1],2],
    [movies_df.title[movies_df.index == 3],4],
    [movies_df.title[movies_df.index == 5],4.5],
    ]

[[1    Jumanji (1995)
  Name: title, dtype: object,
  2],
 [3    Waiting to Exhale (1995)
  Name: title, dtype: object,
  4],
 [5    Heat (1995)
  Name: title, dtype: object,
  4.5]]

And finally print the recommendations..

In [23]:
[movies_df.title[movies_df.index == a.index[0]],
 movies_df.title[movies_df.index == b.index[0]],
 movies_df.title[movies_df.index == c.index[0]]]

[203    Forget Paris (1995)
 Name: title, dtype: object,
 589    Last Dance (1996)
 Name: title, dtype: object,
 260    Quiz Show (1994)
 Name: title, dtype: object]